body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e3f2fd; /* Light blue background */
  justify-content: center;
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 40px;
  margin: 0;
}

.container {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 550px;
  width: 100%;
  min-height: 400px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #db1912;
}

p {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 12px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #10f20c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #dd9f0e;
}